/* $Id$ */

/**
 * Admin-specific Theming
 */
.page-admin #messages div.section {
  width: 90%;
}
#block-system-main img {
  margin-right: 15px; 
}
.page-admin-structure-block-demo .block-region {
 color: #000000; 
}

/**
 * Overlay layout styles
 */
.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay #skip-link,
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #footer-wrapper,
.overlay #triptych-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
 display: block;
 float: none;
}
