.sidebar .block {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7,endColorstr=#f0f0f0);
  zoom: 1;
}
input.form-text {
  font-family: sans-serif;
}
