/* $Id$ */

/**
 * Basic layout styles RTL overrides
 */
#content {
  float: right;
  margin-right: 15px;
  margin-left: 5px;
  padding: 0 0 0 20px;
}
body.sidebar-second #content {
  margin-left: 5px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 0;
}
.sidebar {
  float: right;
}
body.sidebar-first #content {
  margin-left: 15px;
  margin-right: 5px;
  padding-left: 0;
  padding-right: 20px;
}
#sidebar-first {
  margin-right: 25px;
  margin-left: 15px;
}
#triptych-first,
#triptych-middle,
#triptych-last {
  float: right;
}
#footer-firstcolumn,
#footer-secondcolumn,
#footer-thirdcolumn,
#footer-fourthcolumn {
  float: right;
}
